name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # код
      - uses: actions/checkout@v3

      # Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # зависимости
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install coverage

      # тесты + coverage
      - name: Run tests with coverage
        run: |
          coverage run manage.py test
          coverage xml

      # SonarCloud
      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
        with:
          args: >
            -Dsonar.projectKey=Korvo-iam_python-project-52
            -Dsonar.organization=korvo-iam
            -Dsonar.python.coverage.reportPaths=coverage.xml
